/* ==== General Rules & Guidelines ==== */

html,
body {
  font-family: "Inter", Arial, sans-serif;
  background-color: #ffffff;
  height: 100%;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inter", Arial, Sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

::selection {
  background: rgb(250, 255, 189);
}
.row {
  width: 100%;
  margin-left: 1px;
}

p {
  color:#292a2c;
}

/* ==== End of General Rules & Guidelines ==== */

/* ==== Start of Nav ==== */

.navbar {
  margin: 0;
  display: fixed;
  background-color: #ffffff;
}

.navbar-brand {
  color: #888888;
  font-family: "Noto Sans JP", "Inter", "Arial";
  padding-left: 10px !important;
  padding-right: 5px !important;
}

span:hover {
  background-color: #292a2c;
}

#contact-resume {
  margin-top: 2%;
}

.navbar-brand:hover {
  color: #292a2c;
}

.Logo {
  max-width: 2.3em;
  max-height: 2.3em;
}

@media screen and (max-width: 350px) {
  #contact-resume {
    font-size: 1.1em !important;
    color: white !important;
  }
  .navbar-brand {
    color: white !important;
    font-size: 1.5em !important;
  }
}

@media screen and (max-width: 331px) {
  #contact-resume {
    font-size: .9em !important;
    color: white !important;
  }
}

/* ==== End of Nav ==== */

/* 
.jumbotron {
  margin-top: 50px;
  background-image: url("R1-09857-0010.JPG");
  background-position-y: -50px;
  background-size: -5px;
  height: 200px;
}

.carousel {
  margin: 0;
  position: relative;
  top: 15%;
}

.carousel-permanent {
  margin-bottom: -5px !important;
  color:#eee;
}

@media screen and (min-width: 768px) {
  .carousel-permanent {
    font-size: 4em;
  }
  carouselItem {
    font-size: 4em;
  }
}

.sandbox {
  height: 25px;
  width: 100%;
}

.carouselItem {
  display: none;
}
/*

/* ==== Bio & Projects ==== */

.box-content {
  min-height: 300px;
  max-height: 54em;
}

.projects {
  margin-top: 4%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.projects:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  
}
.projects:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.avi {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 50%;
  margin-top: 10em;
}

#shortBio {
  padding-top: 1em;
  font-size: 1.4em;
}
#fullBio {
  padding-top: 5%;
  padding-bottom: 20%;
  font-size: 1.4em;
}

h2 {
  text-align: center;
  color: #292a2c;
  font-size: 3em;
}

/* ==== End of Bio & Projects ==== */

/* ==== Start of Footer ==== */

footer {
  background-color: #ffffff;
  margin-top: 30px;
}

.bi {
  font-size: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
}

@media screen and (max-width: 312px) {
  .fa {
    font-size: 3.5em;
    padding-top: .2em;
  }
}

.socialLink {
  color: #292a2c;
}

.socialLink:hover {
  color: #292a2c;
}

.copyRight {
  color: #292a2c;
  font-family: "Noto Sans JP", "Inter", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 426px) {
  .copyRight {
    padding: 1.7em;
  }
}

/* ==== End of Footer ==== */

/* ==== Start of Contact.html ==== */

.container {
  margin: 0 auto;
  position: relative;
}

#contact {
  padding: 25px;
  margin: 5em 0;
}

#contact h3 {
  display: block;
  font-size: 2.5em;
  margin-bottom: 1em;
  color: white;
}

fieldset {
  margin: 0 0 10px;
  min-width: 100%;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #eee;
  margin: 0 0 4px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #cb9278;
  color: white;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #cb9278;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
.contactPic {
  height: 50%;
  width: 100%;
}

/* ==== End of Contact.html ==== */
